---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="MIR">
	<header>
		<div class="contact-list">
			<a href="https://github.com/IbraaheemRashid">github</a>
			<a href="https://www.linkedin.com/in/ibraaheem-rashid-09a81723a/">linkedin</a>
			<a href="mailto:ibraaheemrashid@hotmail.com">email</a>
		</div>
	</header>
	<main>
		<div class="title-section">
			<h1 class="font-bold">MIRASHID</h1>
			<p class="subtitle">a place for my stuff</p>
		</div>
		
		<div class="content">
			<h2>projects</h2>
			<ul>
				<li>
					<a href="https://github.com/IbraaheemRashid/EducationalChatbot">EDUBOT</a>
					<span class="description">- a way for you to speak to your documents.</span>
				</li>
			</ul>

			<h2>essays</h2>
			<ul>
				<li><a href="">TEST</a></li>
			</ul>
		</div>
	</main>
</Layout>

<style>
	:root {
		--text-color: #C6D0F5;
		--bg-color: #303446;
		--link-color: #8CAAEE;
		--link-hover-color: #B5BFE2;
		--link-visited-color: #F4B8E4;
		--description-color: #838BA7;
		--header-bg-color: #292C3C;
	}

	body {
		font-family: monospace;
		background-color: var(--bg-color);
		color: var(--text-color);
		line-height: 1.6;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		margin: 0;
		padding: 0;
	}

	header {
		background-color: var(--header-bg-color);
		padding: 0.5rem;
		text-align: left;
	}

	.contact-list {
		display: flex;
		gap: 1rem;
	}

	main {
		max-width: 800px;
		margin: 2rem auto;
		padding: 0 1rem;
		flex-grow: 1;
	}

	.title-section {
		margin-bottom: 2rem;
	}

	h1 {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	.subtitle {
		color: var(--description-color);
	}

	h2 {
		font-size: 1.2rem;
		margin-top: 2rem;
		margin-bottom: 0.5rem;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

	li {
		margin-bottom: 0.5rem;
	}

	a {
		color: var(--link-color);
		text-decoration: underline;
	}

	a:hover {
		color: var(--link-hover-color);
	}

	a:visited {
		color: var(--link-visited-color);
	}

	.description {
		color: var(--description-color);
	}
</style>